<div class="container-fluid py-4">
  <div class="row">

    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Join Calls</p>
                <h5 class="font-weight-bolder mb-0" id="join">
                  0
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">

                <img src="https://i.ibb.co/cTRKZ3y/join.png" width="32" height="32" style="margin-top: 5px;">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Service Calls</p>
                <h5 class="font-weight-bolder mb-0" id="service">
                  0
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">

              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <img src="https://i.ibb.co/Yjb6zv9/service.png" width="32" height="32" style="margin-top: 5px;">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Complaint Calls</p>
                <h5 class="font-weight-bolder mb-0" id="complaint">
                  0
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">

              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <img src="https://i.ibb.co/KNFtzhN/complaint.png" width="32" height="32" style="margin-top: 5px;">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Leave Calls</p>
                <h5 class="font-weight-bolder mb-0" id="leave">0</h5>
              </div>
            </div>
            <div class="col-4 text-end">

              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <img src="https://i.ibb.co/1T031Xj/leave.png" width="32" height="32" style="margin-top: 5px;">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  
  <div class="col-xl-12">
    <div class="row">

      <div class="col-md-4">
        <div class="card justify-content-center">
          <div class="card-header mx-4 p-3 text-center">

            <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
              <img src="https://i.ibb.co/12bX4Xt/calls.png" width="45" height="45" alt="waiting-icon" style="margin-top: 5px;">
            </div>

          </div>
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Total Number Of Calls</h6>
            <hr class="horizontal dark my-3">
            <h5 class="mb-0" id="totalcalls">0</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-md-0 mt-4">
        <div class="card justify-content-center">
          <div class="card-header mx-4 p-3 text-center">

            <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
              <img src="https://i.ibb.co/8sptJSq/waiting.png" width="45" height="45" alt="waiting-icon" style="margin-top: 5px;">
            </div>

          </div>
          
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Waiting Calls</h6>
            <hr class="horizontal dark my-3">
            <h5 class="mb-0" id="totalwaitingcalls">0</h5>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-md-0 mt-4">
        <div class="card justify-content-center">
          <div class="card-header mx-4 p-3 text-center">

            <!-- <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
              <img src="https://i.ibb.co/8sptJSq/waiting.png" width="45" height="45" alt="waiting-icon" style="margin-top: 5px;">
            </div> -->

          </div>
          
          <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">Average Waiting Time For Calls</h6>
            <p class="text-sm ms-2">In the last 10 minutes </p>
            <hr class="horizontal dark my-3">
            <h5 class="mb-0" id="averageTotalTime">0</h5>
            <p class="text-sm ms-2">Minutes</p>
          </div>
        </div>
      </div>
    </div>

    </div>
    

  </div>